@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.title {
  width: 100%;
  height: 8%;
  background-color: #2b2042;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1 {
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: row;
  height: 91.5%;
  background-color: #221b3b;
  padding-top: 0.5%;
  overflow-y: hidden;
}

.left {
  width: 25%;
  height: 100%;
  background-color: #2b2042;
  padding-left: 3%;
  padding-right: 3%;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.left::-webkit-scrollbar {
  display: none;
}

.left .header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  height: 10%;
  align-items: center;
}

.left .header li {
  color: white;
  font-size: 13px;
  padding-bottom: 15px;
  text-align: left;
  padding-right: 10px;
}

.left .header .active {
  border-bottom: 4px solid #8472fc;
}

.left .header .active span {
  color: #8472fc;
  opacity: 1;
}

.left .header li .plus {
  height: 50px;
  width: 50px;
  background: linear-gradient(145deg, #503d64, #382b46);
  border-radius: 100%;
  box-shadow: 2.1px 2.1px 27px #362944, -2.1px -2.1px 10px #523f66;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.left .header li span {
  color: white;
  opacity: 0.3;
}

.left:last-child {
  margin-bottom: 0;
}

.left .message {
  display: block;
  height: 15vh;
  width: 90%;
  background: rgb(63, 46, 77);
  background: linear-gradient(
    90deg,
    rgba(63, 46, 77, 1) 33%,
    rgba(54, 41, 76, 1) 68%
  );
  border-radius: 5px;

  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin-bottom: 45px;

  box-shadow: 2.1px 2.1px 27px #362944, -5.1px -5.1px 30px #624e78;
}

.left .person {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.leftSide {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.left .person .image {
  width: 50px;
  height: 100%;
}

.left .person .image img {
  border-radius: 100%;
  height: 100%;
  width: 100%;
}

.left .person .name h2 {
  padding: 0;
  margin: 0;
  font-size: 17px;
  color: white;
  opacity: 0.1;
  text-transform: uppercase;
}

.left .person .name span {
  color: white;
  font-size: 13px;
  opacity: 0.4;
}

.left .person .isActive {
  color: white;
  opacity: 0.1;
  font-size: 13px;
}

.left .message .show {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.left .message .show .amountofnew {
  color: white;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8472fc;
  font-weight: bold;
}

.left .message .show .text {
  font-size: 12px;
  color: white;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}

.right {
  width: 75%;
  height: 100%;
  background: rgb(48, 34, 63);
  background: linear-gradient(
    0deg,
    rgba(48, 34, 63, 1) 22%,
    rgba(37, 29, 63, 1) 98%
  );
}

.right .person {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  height: 15vh;
  align-items: center;
}

.right .person .leftPersonSide {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.right .person .leftPersonSide .image {
  width: 60px;
  height: 60px;
}

.right .person .leftPersonSide .image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.right .person .leftPersonSide .name {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.right .person .leftPersonSide .name h2 {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.61);
  text-transform: uppercase;
  font-size: 20px;
}

.right .person .leftPersonSide .name .describe {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: rgba(255, 255, 255, 0.338);
}

.right .person .rightPersonSide {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.right .person .rightPersonSide .icon {
  height: 50px;
  width: 50px;
  background: linear-gradient(145deg, #503d64, #382b46);
  border-radius: 100%;
  box-shadow: 2.1px 2.1px 27px #362944, -2.1px -2.1px 10px #523f66;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 50%;
  height: 50%;
}

.border2 {
  border-bottom: 1px solid rgb(64, 45, 84);
}
